.container {
  border: 1px solid black;
  width: 600px;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.dot {
  position: absolute;
  left: 300px;
  top: 300px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}